@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active, :focus {
  outline: none;
}

a:active, a:focus {
  outline: none;
}

aside, footer, header, nav {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button, input, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Conv_WartKnife";
  src: url("../fonts/WartKnife.eot");
  src: local("☺"), url("../fonts/WartKnife.woff") format("woff"), url("../fonts/WartKnife.ttf") format("truetype"), url("../fonts/WartKnife.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Grotesk";
  src: url("../fonts/Grotesk.eot");
  src: local("☺"), url("../fonts/Grotesk.woff") format("woff"), url("../fonts/Grotesk.ttf") format("truetype"), url("../fonts/Grotesk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_penna";
  src: url("../fonts/penna.eot");
  src: local("☺"), url("../fonts/penna.woff") format("woff"), url("../fonts/penna.ttf") format("truetype"), url("../fonts/penna.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Maler";
  src: url("../fonts/Maler.eot");
  src: local("☺"), url("../fonts/Maler.woff") format("woff"), url("../fonts/Maler.ttf") format("truetype"), url("../fonts/Maler.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Inverkrug";
  src: url("../fonts/Inverkrug.eot");
  src: local("☺"), url("../fonts/Inverkrug.woff") format("woff"), url("../fonts/Inverkrug.ttf") format("truetype"), url("../fonts/Inverkrug.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  min-height: 450vh;
  background-color: #000;
}

.hello {
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #fff;
  height: 2400px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.conteiner {
  max-width: 1280px;
  margin: 0px auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, right top, left top, from(#124550), to(#000000));
  background: -o-linear-gradient(right, #124550 0%, #000000 100%);
  background: linear-gradient(270deg, #124550 0%, #000000 100%);
  min-height: 100px;
}

@media (max-width: 925px) {
  .menu {
    height: 130px;
  }
}
.menu__body {
  padding-top: 20px;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hamburger-menu {
  /* стилизуем кнопку */
  /* добавляем "гамбургер" */
  /* элементы меню */
}
.hamburger-menu #menu__toggle {
  opacity: 0;
}
.hamburger-menu .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: relative;
  top: 3px;
  left: 20px;
  width: 46px;
  height: 36px;
  cursor: pointer;
  z-index: 13;
}
.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}
.hamburger-menu .menu__btn > span::before {
  content: "";
  top: -13px;
}
.hamburger-menu .menu__btn > span::after {
  content: "";
  top: 13px;
}
.hamburger-menu .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 100px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 12;
}
.hamburger-menu .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.hamburger-menu .menu__item:hover {
  background-color: #cfd8dc;
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.hamburger-menu .menu__btn > span,
.hamburger-menu .menu__btn > span::before,
.hamburger-menu .menu__btn > span::after {
  -webkit-transition-duration: 0.55s;
       -o-transition-duration: 0.55s;
          transition-duration: 0.55s;
}
.hamburger-menu .menu__box {
  -webkit-transition-duration: 0.55s;
       -o-transition-duration: 0.55s;
          transition-duration: 0.55s;
}
.hamburger-menu .menu__item {
  -webkit-transition-duration: 0.55s;
       -o-transition-duration: 0.55s;
          transition-duration: 0.55s;
}

@media (max-width: 925px) {
  .hamburger-menu {
    margin-top: -20px;
  }
}
.menu__title {
  position: relative;
  padding-left: 50px;
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
}
.menu__title span {
  color: #fff;
  font-size: 40px;
}

@media (max-width: 925px) {
  .menu__title {
    margin-top: -20px;
    margin-right: -160px;
    padding-left: 50px;
    font-size: 50px;
  }
}
@media (max-width: 925px) {
  span.s1 {
    font-size: 25px;
  }
}
form {
  padding-top: 10px;
  position: relative;
  width: 700px;
  margin: 0 auto;
  border-radius: none;
}

.menu__search input {
  width: 100%;
  height: 52px;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 24px;
  border-radius: 25px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.62);
  color: #000000;
}

@media (max-width: 925px) {
  .menu__search {
    padding-top: 40px;
  }
}
.menu__search button {
  position: absolute;
  top: 10px;
  right: -15px;
  width: 62px;
  height: 52px;
  border-radius: none;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.menu__search:before {
  content: "";
  font-family: fantasy;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.62);
}

.adres__icon {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 55px;
  height: 60px;
  margin-top: 5px;
  padding: 4px 9px;
  margin-left: 40px;
}
.adres__icon a {
  margin-left: -5px;
  color: #000;
}

@media (max-width: 925px) {
  .adres__icon {
    margin-top: -15px;
    margin-left: -160px;
  }
}
.menu__conect {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 55px;
  height: 60px;
  margin-top: 5px;
  padding: 4px 9px;
  margin-left: 70px;
}
.menu__conect a {
  margin-left: 1px;
  color: #000;
}

@media (max-width: 925px) {
  .menu__conect {
    margin-top: -15px;
    margin-left: 30px;
  }
}
.menu__account {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 75px;
  height: 80px;
  margin-top: -13px;
  padding: 4px 8px;
  margin-left: 70px;
}
.menu__account a {
  margin-left: 4px;
  color: #000;
}

@media (max-width: 925px) {
  .menu__account {
    margin-left: 73px;
    margin-top: 22px;
  }
}
.slider {
  position: absolute;
  padding-top: 40px;
  padding-left: 20px;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #fff;
  bottom: 0.3em;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1em;
  opacity: 0;
  left: 52em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  width: 1em;
  visibility: visible;
  z-index: 10;
}

.slider label:after {
  border-radius: 100%;
  bottom: -0.2em;
  content: "";
  left: -0.2em;
  position: absolute;
  right: -0.2em;
  top: -0.2em;
}

.slider:hover label {
  opacity: 1;
  visibility: visible;
}

.slider input:checked + label {
  background-color: green;
  width: 1.2em;
  height: 1.2em;
}

.slider:hover li:nth-child(1) label {
  left: 38em;
}

.slider:hover li:nth-child(2) label {
  left: 40em;
}

.slider:hover li:nth-child(3) label {
  left: 42em;
}

.slider:hover li:nth-child(4) label {
  left: 44em;
}

.slider img {
  height: 300px;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  width: 1000px;
  vertical-align: top;
  visibility: hidden;
  margin-left: 10%;
  border-radius: 30px;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.grid {
  padding-top: 440px;
}

.products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.products__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.products__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.products__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.products__items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.products__items > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.products__items > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.products__items > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.products__items > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.products__title {
  font-family: "Conv_Maler";
  color: #eceff1;
  border: 1px solid #000;
  height: 70px;
  background-color: #000;
  font-size: 60px;
  text-align: center;
  margin-top: -70px;
  margin-bottom: 40px;
}

.products__item {
  border: 1px solid #000;
  width: 180px;
  height: 190px;
  border-radius: 30px;
  margin: 10px;
  margin-left: 80px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: (50px)[4];
  -ms-grid-columns: (100px)[2];
      grid-template: repeat(4, 50px)/repeat(2, 100px);
  background-color: #000;
}

.products__image {
  position: relative;
  padding: 0px 0px 100% 0px;
  margin: 0px 0px 20px 0px;
}

.products__image img {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #cfd8dc;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.products__name {
  color: #cfd8dc;
  font-size: 20px;
  margin-top: 120px;
  margin-left: -85px;
}

.products__price {
  color: #cfd8dc;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 20px;
}

.products__button {
  font-size: 20px;
  margin-top: 98px;
  margin-left: -15px;
  border: 1px solid #fff;
  background-color: #cb11ab;
  border-radius: 10px;
  color: #ffffff;
  width: 70px;
  height: 25px;
  padding-left: 4px;
}

.grid__grid {
  margin-top: 70px;
}

.grid__products__title {
  border: 1px solid #000;
  font-size: 60px;
  color: #fff;
  background-color: #000;
  padding-left: 20px;
  font-family: "Conv_Inverkrug";
}

.grid__products__products {
  margin-top: 40px;
}

.grid__products_items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid__products__item__big {
  margin-left: 20px;
  margin-top: 100px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000000;
  height: 350px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.grid__products__item__big:hover {
  background-color: #333;
}

.grid__products__item__big_2 {
  margin-right: 10px;
  margin-top: 100px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000000;
  height: 350px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.grid__products__item__big_2:hover {
  background-color: #333;
}

.grid__products__item {
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #333;
  width: 300px;
  height: 50px;
  position: relative;
  padding: 0px 0px 85% 0px;
}

.grid__products__item1 {
  margin: 0px;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: #333;
  width: 300px;
  height: 50px;
  position: relative;
  padding: 0px 0px 85% 0px;
}

.grid__products__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid__products__item1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid__products__item:hover {
  background-color: #000;
}

.grid__products__item1:hover {
  background-color: #000000;
}

.footer {
  background: -webkit-gradient(linear, right top, left top, from(#124550), to(#000000));
  background: -o-linear-gradient(right, #124550 0%, #000000 100%);
  background: linear-gradient(270deg, #124550 0%, #000000 100%);
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

.footer__text {
  color: #fff;
  margin-left: 40px;
}

.about {
  margin-right: 1000px;
  font-size: 25px;
}

.about li {
  line-height: 35px;
  margin: 10px;
}

.about a {
  color: #c8b8d5;
}

.about2 {
  margin-top: -133px;
  margin-left: 330px;
  font-size: 25px;
  color: #ffffff;
}

.about__title2 {
  padding-left: 0px;
}

.about2 a {
  color: #c8b8d5;
}

.about2 li {
  margin: 10px;
  line-height: 35px;
}

.about3 {
  margin-top: -270px;
  margin-left: 700px;
  font-size: 25px;
  color: #ffffff;
}

.about3 a {
  color: #c8b8d5;
}

.about3 li {
  margin: 10px;
  line-height: 36px;
}

.about4 {
  margin-top: -276px;
  margin-left: 950px;
  font-size: 25px;
  color: #ffffff;
}

.about4 a {
  color: #c8b8d5;
}

.about4 li {
  margin: 10px;
  line-height: 36px;
}